# Ignorar archivos de compilación de MkDocs
site/
*.log

# Archivos de Python innecesarios
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de entornos virtuales
venv/
.env/

.prettierignore
.prettierrc